name: Container Scan

on:
  push:
  pull_request:

jobs:
  trivy-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker Image
        run: docker build -t myimage .
      - name: Scan Docker Image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: myimage
          severity: HIGH,CRITICAL
